on boot

# GPU boost
  chown system system /sys/devices/platform/soc/5000000.qcom,kgsl-3d0/devfreq/5000000.qcom,kgsl-3d0/adrenoboost
  chmod 0644 /sys/devices/platform/soc/5000000.qcom,kgsl-3d0/devfreq/5000000.qcom,kgsl-3d0/adrenoboost

    # Enable gpu boost support
    setprop gpuboost.support 1

    # Run xiaomiparts script to initialize boost props
    exec u:r:init:s0 root root -- /vendor/bin/init.xiaomiparts.sh
    exec u:r:su:s0 root root -- /vendor/bin/init.xiaomiparts.sh

# GPU-Disable (default profile)
on property:persist.xiaomiparts.gpu_profile=0
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0

# GPU-Low
on property:persist.xiaomiparts.gpu_profile=1
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 1

# GPU-Medium
on property:persist.xiaomiparts.gpu_profile=2
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 2

# GPU-High
on property:persist.xiaomiparts.gpu_profile=3
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 3

# FPS Info permissions
  chown system graphics /sys/class/drm/sde-crtc-0/measured_fps
  chmod 0666 /sys/class/drm/sde-crtc-0/measured_fps

# KCAL permissions
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal_enable
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal_cont
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal_sat
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal_hue
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal_min
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal_val
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_enable
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_cont
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_sat
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_hue
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_min
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_val

# Touchboost permissions
  chown system system /sys/module/msm_performance/parameters/touchboost
  chmod 0660 /sys/module/msm_performance/parameters/touchboost

# USB Fastcharge permissions
  chown system system /sys/kernel/fast_charge/force_fast_charge
  chmod 0660 /sys/kernel/fast_charge/force_fast_charge
